<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>
<body style="background-color: #f5f5f5; margin: 0px;">
    <section id="main-page-app"></section>
    <script src="/dist/main.js"></script>
</body>
</html>