<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>
<body>
    Login Page bitches!
    <form action="/login" method="post">
        <input name="uname" required />
        <input name="pdub" type="password" required />
        <button type="submit">Submit</button>
    </form>
</body>
</html>